<nav>
  <div class="left-nav-item">
    <div class="nav-item-container"><a href="#back" class="fa fa-angle-left back-logo"></a></div>
    <div class="nav-item-container">
      Mission Impossible: Dead Reckoning - Part One <small>(U/A)</small><br>
      <small class="mallname light-grey-text"> INOX: Korum Mall, Eastern Express Highway, Thane</small>
    </div>
    <div class="showmobile nav-item-container" style="text-overflow:ellipsis !important;font-size:10pt;overflow:hidden;white-space: nowrap;width:80%;"><b> INOX: Korum Mall, Eastern Express Highway, Thane</b></div>
  </div>
  <div class="right-nav-item">
    <div class="nav-item-container small-text num-of-tickets pointer" style="margin-right:40px;">2 Tickets <span class="fa fa-angle-down"></span></div>
    <div class="nav-item-container"><span class="fa fa-close pointer"></span></div>
  </div>
</nav>

<div class="content" style="width: 80%">
  <span class="light-grey-text">PRIMIUM -Rs. 160.00</span><br><hr>
  <div class="seats">
    <div class="row" *ngFor="let seatNumber of seatlist">
      <span class="light-grey-text seat-row">{{seatNumber}} &nbsp; &nbsp; </span>
      <a class="seat pointer">1</a>
      <a class="seat pointer">2</a>
      <a class="seat pointer">3</a>
      <a class="seat pointer">4</a>
      <a class="seat pointer">5</a>
      <a class="seat pointer">6</a>
      <a class="seat pointer">7</a>
      <a class="seat pointer">8</a>
      <a class="seat pointer">9</a>
      <a class="seat pointer">10</a>
      <a class="seat pointer">11</a>
      <a class="seat pointer">12</a>
      <a class="seat pointer">13</a>
      <a class="seat pointer">14</a>
      <a class="seat pointer">15</a>
      <a class="seat pointer">16</a>
      <a class="seat pointer">17</a>
      <a class="seat pointer">18</a>
      <a class="seat pointer">19</a>
      <a class="seat pointer">20</a>
    </div>
  </div>
  <span class="light-grey-text">BASIC -Rs. 100.00</span><br><hr>
  <div class="seats">
    <div class="row" *ngFor="let seatNumber of seatlistBasic">
      <span class="light-grey-text seat-row">{{seatNumber}} &nbsp; &nbsp; </span>
      <a class="seat pointer">1</a>
      <a class="seat pointer">2</a>
      <a class="seat pointer">3</a>
      <a class="seat pointer">4</a>
      <a class="seat pointer">5</a>
      <a class="seat pointer">6</a>
      <a class="seat pointer">7</a>
      <a class="seat pointer">8</a>
      <a class="seat pointer">9</a>
      <a class="seat pointer">10</a>
      <a class="seat pointer">11</a>
      <a class="seat pointer">12</a>
      <a class="seat pointer">13</a>
      <a class="seat pointer">14</a>
      <a class="seat pointer">15</a>
      <a class="seat pointer">16</a>
      <a class="seat pointer">17</a>
      <a class="seat pointer">18</a>
      <a class="seat pointer">19</a>
      <a class="seat pointer">20</a>
    </div>
  </div>
  <div class="text-center" style="
    height: 30px;
    background: aliceblue;
    border-radius: 20px;
    margin: 20px;
    padding: 4px;
">All eyes this way please!</div>
  <div class="text-center">
    <button class="btn btn-danger"  style="width: 200px;" (click)="payTicket()">Pay</button>
  </div>
</div>
