<nav>
  <div class="left-nav-item">
    <div class="nav-item-container"><a href="#back" class="fa fa-angle-left back-logo"></a></div>
    <div class="nav-item-container">
      Mission Impossible: Dead Reckoning - Part One<br>
      <small class="mallname light-grey-text"> (U/A)</small>
    </div>
    <div class="showmobile nav-item-container" style="text-overflow:ellipsis !important;font-size:10pt;overflow:hidden;white-space: nowrap;width:80%;"><b> INOX: Korum Mall, Eastern Express Highway, Thane</b></div>
  </div>
  <div class="right-nav-item">
    <div class="nav-item-container small-text num-of-tickets pointer" style="margin-right:40px;">English 2D <span class="fa fa-angle-down"></span></div>
    <div class="nav-item-container"><span class="fa fa-close pointer"></span></div>
  </div>
</nav>
<header>
  <button class="date-select-button"> Fri 21 Jul</button>
  <button class="date-select-button active"> Sat 22 Jul</button>
  <button class="date-select-button"> Sun 23 Jul</button>
</header>

<div class="content">
  <div>
    <div>AGS Cinemas OMR: Navlur</div>
    <button class="timing-select-button" (click)="selectSeat()"> 09:45 AM</button>
    <button class="timing-select-button active"> 01:00 PM</button>
    <button class="timing-select-button"> 04:00 PM</button>
    <button class="timing-select-button"> 07:15 PM</button>
  </div>
  <hr>
  <div>
    <div>INOX: LUXE Phoenix Market City, Velachery</div>
    <button class="timing-select-button"> 09:45 AM</button>
    <button class="timing-select-button active"> 01:00 PM</button>
    <button class="timing-select-button"> 04:00 PM</button>
    <button class="timing-select-button"> 07:15 PM</button>
  </div>
</div>
