<div class="container">
  <div class="row">
      <div *ngFor="let movie of movieList" class="col col-md-3">
          <div class="recentMovies">
              <div id="movieList" class="card">
                  <img class="card-img-top" [src]="movie.thumbnailUrl" alt="Card image cap">
                  <div class="card-body">
                      <h5 class="card-title">{{movie.title}}</h5>
                      <p class="card-text">{{movie.duration}}</p>
                      <p class="card-text movieDate">{{movie.genere}}</p>
                    <p class="card-text movieDate"><span *ngFor="let aa of movie.movieViewTypes">{{aa.viewTypeName}} </span></p>
                  </div>
                <button class="btn btn-danger" (click)="bookTicket()">Book tickets</button>
              </div>
          </div>
      </div>
  </div>
</div>
